@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;

}

nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a{
    color:#fff;
    text-decoration: none;
}

.icono{
    display: block;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in;
}
*/

header{
    /* https://uigradients.com/  */
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: auto;
    padding: 48px;
    width: 100%;
}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

img{
    display: block;
    height: 300px;
    object-fit: cover;
    animation: arriba 1s ease-in;
}

.textos{
    width: 50%;
    color:#fff;
}

.textos h1{
    font-size:40px;
    animation: moverDerecha 1s ease-in;

}

.textos h2{
    font-size:25px;
    animation: moverIzquierda 1s ease-in;
}

.textos a{
    display: inline-block;
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 180px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;

}


.acerca{
    width: 50%;
    color:#fff;
}

.acerca h1{
    font-size:30px;
    animation: moverDerecha 1s ease-in;

}

.acerca h2{
    font-size:15px;
    animation: moverIzquierda 1s ease-in;
}

.acerca a{
    display: inline-block;
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 180px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;

}

.contacto{
    width: 50%;
    color:#fff;
}

.contacto h1{
    font-size:30px;
    animation: moverDerecha 1s ease-in;

}

.contacto h2{
    font-size:15px;
    animation: moverIzquierda 1s ease-in;
}

.contacto a{
    display: inline-block;
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 180px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;

}

.formulario a{
    display: inline-block;
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 180px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;

}

.wave{
    height: 100px;
    width: 100%;
	
    /* https://uigradients.com/  */
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.enlaces{
    position: fixed;
    display: flex;
    top: 0;
    background: #000;
    justify-content: space-around;

    align-items: center;
    height: 100vh;
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
	
    /* https://uigradients.com/ */
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width:1000px){
    img{
        height: 400px;
    }

}

@media screen and (max-width:800px){
    img{
        height: 370px;
    }
    .textos h1{
        font-size: 70px;
    }

    .textos h2{
        font-size: 25px;
    }
    
}

@media screen and (max-width:700px){
    img{
        height: 250px;
    }
    .textos h1{
        font-size: 40px;
    }

    .textos h2{
        font-size: 15px;
    }
    
}

@media screen and (max-width:450px){
    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
		flex-wrap: wrap;
        justify-content: center;
    }
    .textos{
        width: 100%;
        text-align: center;
    }
    .textos h1{
        font-size: 60px;
    }    
}

@media screen and (max-width:340px){
    img{
        height: 140px;
    }
    .textos h1{
        font-size: 35px;
    }
    .textos a{
        width: 120px;
    }
    .textos h2{
        font-size: 15px;
    }
    
}








.login .avatar {
  width: 360px;
  height: 120px;
  border-radius: 5%;
  position: absolute;
  top: 50px;
  left: calc(50% - 150px);
  left: 50px;
}

form{
    /* background-color: white; */
    border-radius: 0 0 3px 3px;
    color:#222;  /* #999;*/
    font-size: 1em;
    padding: 20px;
    margin: 0 auto;
    width: 380px;
}

input, textarea{
    border: 0;
    outline: none;
    width: 380px;
}

.field{
    border: solid 1px #ccc;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    width: 380px;
}

.field:focus{
    border-color: #18A383;
}

.center-content{
    /* text-align: center;*/ 
}

.field-container div{
    display: inline-block;
    vertical-align: top;
    text-align: center; 
    display: block; 
    
}

.field-container i{
    border: solid 1px #ccc;
    background-color: #ddd;
    border-radius: 5px 0 0 5px;
    color: #888;
    padding: 10px 10px 10px 10px;
    margin-right: -5px;
    vertical-align: top;

}

#menu, #formularios{
    margin: 0 auto;
    width: 440px;
}
